@charset "UTF-8";

@font-face { font-family: 'InfinitySans-RegularA1'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 테마 색 #8bc34a */
* {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
	color:black;
}
*:focus {
	outline:0;
}
table {
	width: 500; 
	margin: auto; 
	text-align: center; 
	border-collapse: collapse; 
	padding:5px;
}
table * {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
	vertical-align:middle;
}
body {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
	COLOR: black;
	LINE-HEIGHT: 160%;
	vertical-align:middle;
	text-align:center;
}
h1 {
	font-family: 'InfinitySans-RegularA1';
	font-size : 30px;
	font-weight : 700;
}
.nonBorder {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}
.nonBorder tr {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}
.nonBorder td {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}

.greenButton {
	border:0px;
    color:white;
    padding: 8px 15px;
    cursor: pointer;
    width: auto;
    height: auto;
    background: rgb(139, 195, 74);
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
}
.greenButton:hover {
	background:green;
}
.lineButton {
	border:0px;
    color:black;
    padding:3px 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    background:white;
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
    border:3px solid rgb(139, 195, 74);
}

.lineTable {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable * {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable tr {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable td{
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.grayButton {
	height:100%; 
	padding:0 5 0 5px; 
	border-radius:10px;
	border:0px;
	cursor:pointer;
}

button:focus {outline:0px;}
input:focus {outline:0px;}

a{
	text-decoration:none;
	color:black;
}

a:link{
	text-decoration:none;
	color:black;
}

a:visited{
	text-decoration:none;
	color:black;
}
a>*{
	text-decoration:none;
	color:black;
}
.insertTable td {
	font-size:20px;
	vertical-align:middle;
	padding:20px;
}
.insertTable .h {
	vertical-align:middle;
	text-align:left;
	margin-left:20px;
}
.insertTable .t {
	text-align:right;
	padding:25px;
	border-right:2px solid #ccc;
	font-size:1.4em;
	vertical-align:top;
}
.insertTable select, .insertTable textarea, .insertTable input[type="number"], .insertTable input[type="text"], .insertTable input[type="radio"]{
	border:1px solid #ccc;
	border-radius:5px;
	font-size:25px;
	self-align:left;
	margin-left:20px;
	margin-bottom:5px;
	vertical-align:middle;
}

