@charset "UTF-8";

@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
@font-face { font-family: 'InfinitySans-RegularA1'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
* {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
}
table * {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
}
body {
	font-family: 'InfinitySans-RegularA1';
	font-size : 15px;
}
h1 {
	font-family: 'InfinitySans-RegularA1';
	font-size : 30px;
	font-weight : 700;
}
.nonBorder {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}
.nonBorder tr {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}
.nonBorder td {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
}

.greenButton {
	border:0px;
    color:white;
    padding: 8px 15px;
    cursor: pointer;
    width: auto;
    height: auto;
    background: rgb(139, 195, 74);
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
}
.greenButton:hover {
	background:green;
}
.lineButton {
	border:0px;
    color:black;
    padding:3px 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    background:white;
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
    border:3px solid rgb(139, 195, 74);
}

.lineTable {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable * {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable tr {
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.lineTable td{
	border:0px;
	background-color:white; 
	color:black;
	padding:10px;
	border-bottom:2px solid rgb(139, 195, 74);
	border-top:2px solid rgb(139, 195, 74);
}
.grayButton {
	height:100%; 
	padding:0 5 0 5px; 
	border-radius:10px;
	border:0px;
	cursor:pointer;
}
button:focus{
	border:0px;
}
